<h1>Catálogo de Usuarios</h1>
<hr>
<div style="display: flex;justify-content: flex-end;padding-bottom: 10px;padding-right: 10px;">
  <button mat-flat-button color="primary" class="example-icon" aria-label="Example icon-button with share icon" (click)="onAddLogin(0)"> Nuevo </button>
</div>
<table mat-table [dataSource]="dsLogin" class="mat-elevation-z8">
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary"  aria-label="Example icon button with a home icon" (click)="onEditLogin(element.id)" >
        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"  (click)="onDelLogin(element.id)">
        <mat-icon fontSet="material-symbols-outlined">delete_forever</mat-icon>
      </button>
    </td>
  </ng-container>
  
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef > Login </th>
        <td mat-cell *matCellDef="let element" data-label="id"> {{element.id}} </td>
      </ng-container>
        
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef > Usuario </th>
        <td mat-cell *matCellDef="let element" data-label="userName"> {{element.userName}} </td>
      </ng-container>
        
      <ng-container matColumnDef="passwword">
        <th mat-header-cell *matHeaderCellDef > Password </th>
        <td mat-cell *matCellDef="let element" data-label="passwword"> {{element.passwword}} </td>
      </ng-container>
        
  
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
  </table>
