USE [master]
GO
/****** Object:  Database [db_articulo]    Script Date: 03/11/2023 07:34:29 a. m. ******/
CREATE DATABASE [db_articulo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_articulo1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_articulo1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_articulo1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_articulo1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_articulo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_articulo]
GO
/****** Object:  Table [dbo].[articulo]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](100) NULL,
	[descripcion] [varchar](512) NULL,
	[precio] [decimal](18, 0) NULL,
	[imagen] [varchar](max) NULL,
	[stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carrito]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrito](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NULL,
	[envio] [varchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carritoDetalle]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carritoDetalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCarrito] [int] NULL,
	[idTiendaArticulo] [int] NULL,
	[cantidad] [int] NULL,
	[total] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellidos] [varchar](200) NULL,
	[direccion] [varchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clienteArticulo]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clienteArticulo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[idCliente] [int] NULL,
	[idArticulo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](200) NULL,
	[passwword] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tienda]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tienda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sucursal] [varchar](100) NULL,
	[direccion] [varchar](512) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tiendaArticulo]    Script Date: 03/11/2023 07:34:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tiendaArticulo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[idTienda] [int] NULL,
	[idArticulo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[articulo] ON 

SET IDENTITY_INSERT [dbo].[articulo] OFF
GO
SET IDENTITY_INSERT [dbo].[carrito] ON 

INSERT [dbo].[carrito] ([id], [idCliente], [envio]) VALUES (1, 1, N'ssss2')
SET IDENTITY_INSERT [dbo].[carrito] OFF
GO
SET IDENTITY_INSERT [dbo].[carritoDetalle] ON 

INSERT [dbo].[carritoDetalle] ([id], [idCarrito], [idTiendaArticulo], [cantidad], [total]) VALUES (6, 1, 7, 0, CAST(0 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[carritoDetalle] OFF
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id], [nombre], [apellidos], [direccion]) VALUES (1, N'Roberto', N'Corona', N'Calle 1 Fracc. Allegro Centro Ver')
INSERT [dbo].[cliente] ([id], [nombre], [apellidos], [direccion]) VALUES (2, N'Audberto', N'Corona', N'Calle 2 Fracc. Felicit Sur Ver')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[clienteArticulo] ON 

INSERT [dbo].[clienteArticulo] ([id], [fecha], [idCliente], [idArticulo]) VALUES (2, CAST(N'2023-11-03T10:53:46.367' AS DateTime), 1, 3)
INSERT [dbo].[clienteArticulo] ([id], [fecha], [idCliente], [idArticulo]) VALUES (4, CAST(N'2023-11-03T11:01:23.710' AS DateTime), 1, 6)
INSERT [dbo].[clienteArticulo] ([id], [fecha], [idCliente], [idArticulo]) VALUES (5, CAST(N'2023-11-08T06:00:00.000' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[clienteArticulo] OFF
GO
SET IDENTITY_INSERT [dbo].[login] ON 

INSERT [dbo].[login] ([id], [userName], [passwword]) VALUES (1, N'roberto', N'roberto')
INSERT [dbo].[login] ([id], [userName], [passwword]) VALUES (2, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[login] OFF
GO
SET IDENTITY_INSERT [dbo].[tienda] ON 

INSERT [dbo].[tienda] ([id], [sucursal], [direccion]) VALUES (1, N'Central', N'Av Madero')
INSERT [dbo].[tienda] ([id], [sucursal], [direccion]) VALUES (3, N'Norte', N'Av. Principal')
SET IDENTITY_INSERT [dbo].[tienda] OFF
GO
SET IDENTITY_INSERT [dbo].[tiendaArticulo] ON 

INSERT [dbo].[tiendaArticulo] ([id], [fecha], [idTienda], [idArticulo]) VALUES (7, CAST(N'2023-11-01T06:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[tiendaArticulo] ([id], [fecha], [idTienda], [idArticulo]) VALUES (8, CAST(N'2023-11-20T06:00:00.000' AS DateTime), 1, 3)
INSERT [dbo].[tiendaArticulo] ([id], [fecha], [idTienda], [idArticulo]) VALUES (9, CAST(N'2023-11-03T11:20:39.743' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[tiendaArticulo] OFF
GO
ALTER TABLE [dbo].[carritoDetalle]  WITH CHECK ADD  CONSTRAINT [FK_carritoDetalle_tiendaArticulo] FOREIGN KEY([idTiendaArticulo])
REFERENCES [dbo].[tiendaArticulo] ([id])
GO
ALTER TABLE [dbo].[carritoDetalle] CHECK CONSTRAINT [FK_carritoDetalle_tiendaArticulo]
GO
ALTER TABLE [dbo].[clienteArticulo]  WITH CHECK ADD  CONSTRAINT [FK_clienteArticulo_articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[articulo] ([id])
GO
ALTER TABLE [dbo].[clienteArticulo] CHECK CONSTRAINT [FK_clienteArticulo_articulo]
GO
ALTER TABLE [dbo].[clienteArticulo]  WITH CHECK ADD  CONSTRAINT [FK_clienteArticulo_cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[clienteArticulo] CHECK CONSTRAINT [FK_clienteArticulo_cliente]
GO
ALTER TABLE [dbo].[tiendaArticulo]  WITH CHECK ADD  CONSTRAINT [FK_tiendaArticulo_articulo] FOREIGN KEY([idArticulo])
REFERENCES [dbo].[articulo] ([id])
GO
ALTER TABLE [dbo].[tiendaArticulo] CHECK CONSTRAINT [FK_tiendaArticulo_articulo]
GO
ALTER TABLE [dbo].[tiendaArticulo]  WITH CHECK ADD  CONSTRAINT [FK_tiendaArticulo_tienda] FOREIGN KEY([idTienda])
REFERENCES [dbo].[tienda] ([id])
GO
ALTER TABLE [dbo].[tiendaArticulo] CHECK CONSTRAINT [FK_tiendaArticulo_tienda]
GO
USE [master]
GO
